.content {
  margin-top: 40px;
}

.content a {
  background-color: #fff;
  width: 100%;
  padding: 24px;
  text-decoration: none;
  
  display: flex;
  align-items: center;

  transition: transform 0.2s;
}

.content a + a { /* aplica se o elemento a é precedido de outro elemento a */
  margin-top: 16px;
}

.content a:hover {
  transform: translateX(10px);
}

.content div {
  margin: 0 16px;
  flex: 1;
}

.content div strong {
  font-size: 20px;
  color: #3d3d4d;
}

.content div p {
  margin-right: 5px;
  font-size: 18px;
  color: #a8a8b3;
}

.content svg {
  /*margin-left: auto;*/
  color: #cbcbd6;
}

.content .detail {
  width: 100%;
  margin-top: 5px;
  margin-left: 0;
  display: flex;
}

.content .detail .detail-item {
  margin-left: 0;
  display: flex;
}

.content .detail .detail-item span {
  margin-left: 5px;
  color: #a8a8b3;
}
